# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.2.2
flask_cors==3.0.10

# Packages 
pandas==1.3.4
vosk==0.3.43
srt==3.5.2
pytube==12.1.0
wheel==0.37.1
websockets==10.4
