#result-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

#search-bar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: fit-content;
    text-align: center;
    background-color: whitesmoke;
    padding: 2rem;
    border-bottom: 1px solid lightgray;
}

#search-bar input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    background: white url("~/public/icons8-search.gif") no-repeat 5px 20%;
    background-size: 1.5rem;
    padding-left: 45px;
}

#result-container {
    padding-top: calc(2rem + 5rem);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#load-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 12rem); 
}

#load-container p{
    margin: 1rem;
    font-size: large;
}

td, th {
    padding: 5px 4em;
}
@media only screen and (max-width: 800px) {
    td, th {
        padding: 5px;
    }
}

td {
    word-wrap: normal;
}

table a {
    text-decoration: none;
}


table {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
}

td {
    border: 1px solid #ccc;
}