#result-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

#search-bar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: fit-content;
    text-align: center;
    background-color: whitesmoke;
    padding: 2rem;
    border-bottom: 1px solid lightgray;
}

#search-bar input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    background: white url("~/public/icons8-search.gif") no-repeat 5px 20%;
    background-size: 1.5rem;
    padding-left: 45px;
}

#result-container {
    padding-top: calc(2rem + 5rem);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#load-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 12rem); 
}

#load-container p{
    margin: 1rem;
    font-size: large;
}

#transcriptions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    margin: 5px;
}
.tile {
    box-sizing: border-box;
    width: 100%;
    margin: 1px 2rem;
    border: 1px solid black;
}

.tile span {
    margin: 0 1rem;
    word-wrap: normal;
}

.tile span {
    margin: 0 1rem;
    word-wrap: normal;
}

.tile span.time {
    font-weight: 600;
}